body {
    background-color: cyan;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
}

nav {
    background-color: black;
    border: 1rem;
    border-radius: 5rem;
    margin: 2px 5px 2px auto;
}

li{
    font-size: 25px;
}

section {
    background-color: #aaa;
}

article {
    background-color: gold;
}

article img {
    display: flex;
    width: 80%;
    height: 350px;
    margin: 10px auto;
}

article img:hover,
article img:focus {
    width: 100%;
    cursor: pointer;
}

footer {
    background-color: white;
}

footer div {
    margin-right: auto;
    margin-left: auto;
}

footer img {
    width: 2rem;
    margin: 0.5rem;
}

footer img:hover,
footer img:focus {
    cursor: pointer;
}

#home {
    direction: rtl;
    padding: 2rem;
    margin-top: 50px;
}

#home h1,
h2,
h4 {
    width: 100%;
}

h1,
h2,
h4 {
    text-align: center;
}
